* {
    margin: 0;
}

nav {
    display: flex;
    background-color: antiquewhite;
    padding: 10px 60px;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 24px;
}

.logo {
    display: flex;
}

a {
    text-decoration: none;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 40px
}

.btn {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 12px;
    border-radius: 5px;
    border-left: 1px;
    border-top: 1px;
    background-color: black;
    color: white;
    font-weight: bold;
}